<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">


    <title>Mercado liebre sole</title>
</head>

<body class="bg-light-grey">
    <header class="header">
        <h1>
            <img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
        </h1>
        <p class="w-50">Aca va la barra de busqueda</p>

        <p>Compra en cuotas <i class="fa-solid fa-hand-holding-dollar"></i></p>

        <nav>
            <ul class="ul-header">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
                <li><a href="#">Crea tu cuenta <i class="fa-regular fa-address-card"></i></a></li>
                <li><a href="#">Ingresa <i class="fa-solid fa-right-to-bracket"></i></i></a></li>
                <li><a href="#">Mis compras <i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
            <p class="burger-menu"><i class="fa-solid fa-bars fa-lg"></i></p>
        </nav>
    </header>
    <main class="vw-90 mx-auto" class="bg-size-cover">
        <section class="banner">
            <img src="/images/img-home-banner.jpg" alt="banner" />
        </section>
        <main>
            <section class="based-on-last-view">
                <h2>Basado en tu última visita</h2>
                <article>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex" />
                    <div class="information-box">
                        <i class="fas fa-truck"></i>
                        <div class="cost">
                            <p class="price">$6.770</p>
                            <p class="discount">40% off</p>
                        </div>
                        <h4 class="description">Cafetera Moulinex</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro" />
                    <div class="information-box">
                        <i class="fas fa-truck"></i>
                        <div class="cost">
                            <p class="price">$230.000</p>
                            <p class="discount">20% off</p>
                        </div>
                        <h4 class="description">MacBook Pro 2019</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" />
                    <div class="information-box">
                        <i class="fas fa-truck"></i>
                        <div class="cost">
                            <p class="price">$70.500</p>
                            <p class="discount">10% OFF</p>
                        </div>
                        <h4 class="description">Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv
                    Samsung 43&quot" />
                    <div class="information-box">
                        <i class="fas fa-truck"></i>
                        <div class="cost">
                            <p class="price">$23.200</p>
                            <p class="discount">5% OFF</p>
                        </div>
                        <h4 class="description">Samsung 43"</h4>
                    </div>
                </article>
            </section>
        </main>
</body>

</html>